@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import 'floating-vue/dist/style.css';
@import 'floating-vue.css';
@import 'transitions.css';

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

a,
input,
button {
  color: inherit;
}

a {
  text-decoration: inherit;
}

input {
  font-family: inherit;
}

a,
button {
  user-select: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
pre {
  margin: 0;
}

html,
body,
#app {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

#app {
    font-size: 18px;
}

@media (min-width: 640px) {
    #app {
        font-size: 14px;
    }
}

.__histoire-sandbox {
  contain: content;
}

.__histoire-code .shiki {
  background: transparent !important;
}

.htw-prose {
  h1, h2, h3, h4 {
    &:not(:hover) {
      .header-anchor[aria-hidden="true"] {
        visibility: hidden;
      }
    }
  }
}
