@tailwind base;
@tailwind components;

button {
  font-size: inherit;
}

@tailwind utilities;

.home-hero {
  figure {
    .image {
      max-height: 140px;
    }
  }
}

.home-features {
  .wrapper {
    @apply htw-pt-0 htw-border-t-0 !important;
  }
}

.v-popper__popper.v-popper--theme-dropdown.v-popper__popper--show-from .v-popper__wrapper {
  transform: scale(.5);
}

.v-popper__popper.v-popper--theme-dropdown.v-popper__popper--show-to .v-popper__wrapper {
  transform: none;
  transition: transform .15s;
}
